<%- include('partials/header') %> 

<div class="container">

<header class="jumbotron">
    <div class="container">
  <h1>Welcome To YelpCamp Campgrounds</h1>
  <p>Images from around the world</p>
  <p>
      <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add A Camp Ground Now!! </a>
  </p>
  <div class="container"></div>
</header>

   <div class="row text-center">
     <% campGrounds.forEach(function(camps){ %>
          <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="<%= camps.image %>">
                <div class="caption">
                    <h4> <%= camps.name  %> </h4>
                    <p>
                      <a href="/campgrounds/<%= camps._id %>" class="btn btn-primary">More Info!</a>
                    </p>
                </div>
              </div>
               
               
          </div>
        <% }) %>
   </div>
</div>
<%- include('partials/footer') %>